@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.login,
.landing,
.signup{
    background-image: url(./assets/background.png);
   
   }
@media (min-width: 768px) {
    .md\:h-screen {
        height: auto;
    }
}
